<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Find your Tech career today!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="../static/css/fonts.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

  </head>
  <body onload="firstVisit()">
    <div class="overlay">
      <!-- <div id="loading-img"></div> -->
    </div>
    <div class="loader"></div>
    <div id="top" style="text-align: center;">
      <div id="header" class="typewriter">
        <h1 onclick="window.location.replace('/')" style="cursor: pointer;">
          <span style="color: #ff5a00;">CSIT</span><span style="color: seashell;">.</span><span style="color: #dcdcaa;">search</span><span style="color: gold;">(</span><span style="color: #50bafe;">career_path</span><span style="color: gold;">)</span>
        </h1>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <div id="main">
      <h2>
      <div id="one-liner">
        I want to be a 
          <div id="changing-keywords">
            <!-- <strong> -->
              <b class="hidden">Software Engineer</b><br/>
              <b class="hidden">Cloud Engineer</b><br/>
              <b class="hidden">DevOps Engineer</b><br/>
              <b class="hidden">Cyber Security Engineer</b><br/>
              <b class="hidden">Site Reliability Engineer</b><br/>
              <b class="hidden">UI/UX Designer</b>
            <!-- </strong> -->
            </h2>
          </div>
      </div>
      </h2>
      <div id="intro">
        <h2>Too many career paths in <i>Tech</i> to choose from?</h2>
        <h2>Get started with our <strong style="color: #ff5a00;">AI-Powered</strong> questionaire!</h2>
      </div>
      <div id="body-container">
        <form id="survey-container" action="javascript:nextQuestion()">
          <!-- <div id="question-id"></div> -->
          <div id="question"></div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="yes-radio-btn" value="1" checked>
            <label class="form-check-label" for="yes-radio-btn">
              Yes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="no-radio-btn" value="0">
            <label class="form-check-label" for="no-radio-btn">
              No
            </label>
          </div>
          <button class="btn btn-primary" style="float: right;" type="submit">Next</button>
        </form>
      </div>
      <!-- <button onclick="getQuestion()">Click me</button> -->
      
    </div>

    <script>

      let param = null;
    $( document ).ready(function() {
        // var type = "valuefromurl"
        let searchParams = new URLSearchParams(window.location.search)
        param = searchParams.get('type')
        console.log(param)
    });

      function firstVisit() {
        localStorage.clear();
        nextQuestion();
      }
      

      function nextQuestion() {
        
        if ("questionID" in localStorage) {

          // 1. Submit current answer
          var jsonBody = {
            "question" : String(document.getElementById("question").textContent),
            "answer" : String(document.querySelector('input[name="flexRadioDefault"]:checked').value)
          }

          $.ajax({
            async: false,
            type: "POST",
            url: "/api/receiveAnswer",
            dataType: "json",
            data: JSON.stringify(jsonBody),
            contentType: "application/json; charset=utf-8",
            success: function(data) {
              console.log(data.success);
            }
          })
        }

        $.ajax({
          async: false,
          type: "GET",
          url: "/api/check",
          dataType: "json",
          success: function(data) {
            if (data.completed == true) {
              $(".overlay").show();
              $(".loader").show();
              if (param == "predict") {
                window.location.replace("/result");

              }
              else {
                window.location.replace("/guess");
            }

          }
        }
      })

        // 2. Get next question
        $("#body-container").fadeOut(function() {

          $.ajax({
            async:false,
            type: "POST",
            url: "/api/getQuestion",
            // data: "id=" + id,
            dataType: "json",
            success: function(data) {
              $('#question').text(data.question);
              localStorage.setItem("questionID", data.questionID);
            },
            error: function (req, status, err) {
              console.log('Something went wrong', status, err);
            }
          });
        });

        // console.log("question id: " + localStorage.getItem("questionID"));
        $("#body-container").fadeIn();
      }
        
      function printToConsole() {
        console.log("test");
      }
    </script>
  </body>
</html>
